<section class="about">
  <div class="container">
    <h2 class="title">
      Open new tabs is sh*t 
    </h2>
    <div class="tab-wrapper">
      <p class="info info-left">
        solution for discover a trend
      </p>
      <p class="info info-right">
        You just need one tab now
      </p>
      <app-tab [props]="tab"></app-tab>
    </div>
    <p class="text">
      A solution for your browser tabs and don’t make your device get slower over time. Get ease and faster to discover a trend with just one tab.
    </p>
  </div>
</section>
