.title {
  font-weight: 700;
  font-size: 64px;
  line-height: 76px;
  letter-spacing: -1px;

  & span {
    color: #ADADAD;
  }
}

/* 576px-767px */

@media screen and (max-width: 767px) {
  .title {
    font-size: 36px;
    line-height: 43px;
  }

  .how {
    padding: 80px 0;
  }
}