@import '../../../assets/styles/vars.scss';
@import '../../../assets/styles/mixins.scss';

.title {
  @include title;
  letter-spacing: -1px;

  & span {
    color: $light-grey;
  }
}

/* 576px-767px */

@media screen and (max-width: 767px) {
  .title {
    font-size: 36px;
    line-height: 43px;
  }

  .how {
    padding: 80px 0;
  }
}