@import '../../../assets/styles/vars.scss';
@import '../../../assets/styles/mixins.scss';

.title {
  @include title;
  margin-bottom: 80px;
}

.companies {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 32px;
}

.company {
  min-height: 120px;
  display: flex;
  justify-content: center;
  background-color: $dark-white;
  border-radius: 8px;
}

/* 768-991px */

@media screen and (max-width: 991px) {
  .companies {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* 576px-767px */

@media screen and (max-width: 767px) {
  .title {
    font-size: 36px;
    line-height: 42px;
  }

  .companies {
    grid-template-columns: 1fr 1fr;
  }
}

/* 320-450px */

@media screen and (max-width: 450px) {
  .company {
    min-height: 74px;

    & img {
      width: 60%;
    }
  }
}