<div class="tab" [ngClass]="className">
  <img class="tab__logo" src={{props.logo}} alt={{props.imageDesc}}>
  <p class="tab__text">{{props.text}}</p>
  <button class="btn">
    <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="2.64056" height="19.8042" rx="0.66129" transform="matrix(0.707101 -0.707112 0.707101 0.707112 0.193329 1.93164)" fill="white"/>
      <rect width="2.64056" height="19.8042" rx="0.66129" transform="matrix(-0.707101 -0.707112 -0.707101 0.707112 16.0645 1.93164)" fill="white"/>
    </svg>      
  </button>
</div>
