@import '../../../assets/styles/vars.scss';

.join {
  background-color: $primary-color;
}

.title {
  max-width: 740px;
  font-size: 72px;
  font-weight: 900;
  margin: 0 auto 40px;
  text-align: center;

  & span {
    color: $primary-color-variant;
  }
}

.btn {
  color: $white;
  background-color: $black;
  border-radius: 40px;
  padding: 16px 32px;
  border: 1px solid $black;
  margin: 0 auto;
  display: block;
  max-width: 180px;
  text-align: center;

  &:hover {
    color: $black;
    background-color: $white;
  }
}

/* 576px-767px */

@media screen and (max-width: 767px) {
  .title {
    font-size: 36px;
    line-height: 42px;
    max-width: 401px;
  }
}