/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import './assets/styles/reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

@font-face {
  font-family: 'Effra';
  src: url('/assets/fonts/Effra_Trial_Regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Effra';
  src: url('/assets/fonts/Effra_Trial_Bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Effra';
  src: url('/assets/fonts/Effra_Trial_Black.woff') format('woff');
  font-weight: 900;
}

@font-face {
  font-family: 'GoodDog New';
  src: url('/assets/fonts/gooddognew.woff') format('woff');
}

body {
  font-family: 'Effra';
  font-weight: 400;
  font-size: 18px;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

a, button {
  transition: all .5s ease;
}

section {
  padding: 140px 0;
}

/* ------ Media Queries ------ */

/* 992-1200px */

@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

/* 768-991px */

@media screen and (max-width: 991px) {
  .container {
    max-width: 720px;
  }
}

/* 576px-767px */

@media screen and (max-width: 767px) {
  .container {
    max-width: 540px;
  }

  section {
    padding: 80px 0;
  }
}

/* 451px-575px */

@media screen and (max-width: 575px) {
  .container {
    max-width: 95%;
  }

  body {
    font-size: 14px;
  }
}

/* 320-450px */

@media screen and (max-width: 450px) {
  .container {
    max-width: 90%;
  }
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
